body {
    background-color: black;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: lora;
}

.la_classe {
    color: greenyellow;
}

h2 {
    color: blue;
}
